<div class="container-fluid">
  <div class="mb-3">
    <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="agregarCantidadEstudiantes()" class="ml-0 dashed-button mw-100">Adjudicar Cantidades por Estudiantes</button>
    <button type="button" mdbBtn color="primary" class="dashed-button mw-100" mdbWavesEffect (click)="agregarCantidadFamilias()">Adjudicar Cantidades por Fammilias</button>
  </div>
    <div class="row">
        <div class="col-md-4">
            <mdb-card>
                <mdb-card-body>
                    <h3 class="text-center">Cantidades por Estudiantes</h3>
                    <table mdbTable #tableStudent="mdbTable" striped="true">
                        <caption></caption>
                        <thead>
                          <tr class="text-center">
                            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
                          </tr>
                        </thead>
                        <tbody #row>
                          <tr mdbTableCol *ngFor="let el of elementsStudent; let i = index" class="text-center">
                            <td>{{el.name }}</td>
                            <td>{{el.cost}}</td>
                            <td>
                              <a href="javascript:void(0)" mdbTooltip="Editar" class="text-action mr-2" (click)="editarAdmissionFeeStudent(el)">
                                <mdb-icon far icon="edit"></mdb-icon>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-4">
            <mdb-card>
                <mdb-card-body>
                    <h3 class="text-center">Cantidades por Familias</h3>
                    <table mdbTable #tableFamily="mdbTable" striped="true">
                        <caption></caption>
                        <thead>
                          <tr class="text-center">
                            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
                          </tr>
                        </thead>
                        <tbody #row>
                          <tr mdbTableCol *ngFor="let el of elementsFamily; let i = index" class="text-center">
                            <td>{{el.name }}</td>
                            <td>{{el.cost}}</td>
                            <td>
                              <a href="javascript:void(0)" mdbTooltip="Editar" class="text-action mr-2" (click)="editarAdmissionFeeFamily(el)">
                                <mdb-icon far icon="edit"></mdb-icon>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
