<div class="modal-content">
    <div class="modal-header border-0">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="md-form">
                <input id="numeroDeposito" type="text" class="form-control" formControlName="numeroDeposito" mdbInput
                    mdbValidate [validateSuccess]="false" NumbersOnly [allowDecimals]="false">
                <label for="numeroDeposito">Numero de Deposito</label>
                <mdb-error *ngIf="numeroDeposito.invalid && (numeroDeposito.dirty || numeroDeposito.touched)">Numero es requerido</mdb-error>
            </div>
            <div class="md-form">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha</mat-label>
                    <input #inputDatePicker matInput [matDatepicker]="picker1" formControlName="dateNow" placeholder="DD/MM/YYYY"
                        (dateInput)="addEvent($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mdb-error *ngIf="dateNow.invalid && (dateNow.dirty || dateNow.touched)">Fecha es requerida</mdb-error>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Cerrar</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect  [disabled]="form.invalid" (click)="saveProduct()">Crear!</button>
    </div>
</div>